h1,h2,h3 {
    text-align: center;
}

li {
    font-size: 32px;
}

.padseeew-heading2,
.steps,
a {
    color: #ffffff;
}

#link1,
.link1 {
    background-color: red;
}

.link2,
.steps {
    background-color: rgb(0, 128, 0);
}

.link3 {
    background-color: orange;
}

/* debug */
.banhmi-heading3 {
    background-color: pink ;
}

p h1 {
    background-color: pink ;
}
.banhmi-heading2 {
    color: blue;
}
 .banhmi-heading3,
 .padseeew-heading2,
 .padseeew-heading3 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman" sans-serif;
 }
 .banhmi-heading3.steps {
    background-color: greenyellow;
    font-weight: bold;
 }

.padseeew-heading2 {
    background-color: #000000;
}
.padseeew-heading3,
.pancit-heading2 {
    background-color: yellow;
}

.padseeew-image {
    width: 200px;
    height: 400px;
}
.pancit-heading3.ingredients {
    color: rgb(255, 0, 0);
}

.pancit-heading3.steps {
    font-size: 20px;
}